# OS
.DS_Store

# local
.env
*.pem
*.local

# artifacts
dist
out
build

# testing
coverage

# package manager
node_modules
*.tgz

# language
*.tsbuildinfo

# Config
web3-dev-cli.json*

# Logs
logs
*.log
